<h1>Listing users_logs</h1>

<table>
  <tr>
    <th>Access date</th>
    <th>Time using</th>
    <th>User</th>
    <th>Project</th>
  </tr>

<% @users_logs.each do |users_log| %>
  <tr>
    <td><%=h users_log.access_date %></td>
    <td><%=h users_log.time_using %></td>
    <td><%=h users_log.user_id %></td>
    <td><%=h users_log.project_id %></td>
    <td><%= link_to 'Show', users_log %></td>
    <td><%= link_to 'Edit', edit_users_log_path(users_log) %></td>
    <td><%= link_to 'Destroy', users_log, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New users_log', new_users_log_path %>