<h1>Editing test_attenuation</h1>

<% form_for(@test_attenuation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fiber_id %><br />
    <%= f.text_field :fiber_id %>
  </p>
  <p>
    <%= f.label :test_type %><br />
    <%= f.text_field :test_type %>
  </p>
  <p>
    <%= f.label :ab_injected %><br />
    <%= f.text_field :ab_injected %>
  </p>
  <p>
    <%= f.label :ab_rcv_opt_power %><br />
    <%= f.text_field :ab_rcv_opt_power %>
  </p>
  <p>
    <%= f.label :ab_opt_link_loss %><br />
    <%= f.text_field :ab_opt_link_loss %>
  </p>
  <p>
    <%= f.label :ba_injected %><br />
    <%= f.text_field :ba_injected %>
  </p>
  <p>
    <%= f.label :ba_rcv_opt_power %><br />
    <%= f.text_field :ba_rcv_opt_power %>
  </p>
  <p>
    <%= f.label :ba_opt_link_loss %><br />
    <%= f.text_field :ba_opt_link_loss %>
  </p>
  <p>
    <%= f.label :mean_loss %><br />
    <%= f.text_field :mean_loss %>
  </p>
  <p>
    <%= f.label :test_timestamp %><br />
    <%= f.datetime_select :test_timestamp %>
  </p>
  <p>
    <%= f.label :equipment %><br />
    <%= f.text_field :equipment %>
  </p>
  <p>
    <%= f.label :technique %><br />
    <%= f.text_field :technique %>
  </p>
  <p>
    <%= f.label :lambda %><br />
    <%= f.text_field :lambda %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @test_attenuation %> |
<%= link_to 'Back', test_attenuations_path %>