<p>
  <b>Fiber:</b>
  <%=h @test_attenuation.fiber_id %>
</p>

<p>
  <b>Test type:</b>
  <%=h @test_attenuation.test_type %>
</p>

<p>
  <b>Ab injected:</b>
  <%=h @test_attenuation.ab_injected %>
</p>

<p>
  <b>Ab rcv opt power:</b>
  <%=h @test_attenuation.ab_rcv_opt_power %>
</p>

<p>
  <b>Ab opt link loss:</b>
  <%=h @test_attenuation.ab_opt_link_loss %>
</p>

<p>
  <b>Ba injected:</b>
  <%=h @test_attenuation.ba_injected %>
</p>

<p>
  <b>Ba rcv opt power:</b>
  <%=h @test_attenuation.ba_rcv_opt_power %>
</p>

<p>
  <b>Ba opt link loss:</b>
  <%=h @test_attenuation.ba_opt_link_loss %>
</p>

<p>
  <b>Mean loss:</b>
  <%=h @test_attenuation.mean_loss %>
</p>

<p>
  <b>Test timestamp:</b>
  <%=h @test_attenuation.test_timestamp %>
</p>

<p>
  <b>Equipment:</b>
  <%=h @test_attenuation.equipment %>
</p>

<p>
  <b>Technique:</b>
  <%=h @test_attenuation.technique %>
</p>

<p>
  <b>Lambda:</b>
  <%=h @test_attenuation.lambda %>
</p>


<%= link_to 'Edit', edit_test_attenuation_path(@test_attenuation) %> |
<%= link_to 'Back', test_attenuations_path %>