<h1>New sites_additional_information</h1>

<% form_for(@sites_additional_information) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :cable_type %><br />
    <%= f.text_field :cable_type %>
  </p>
  <p>
    <%= f.label :fiber_type %><br />
    <%= f.text_field :fiber_type %>
  </p>
  <p>
    <%= f.label :cable_manufacturer %><br />
    <%= f.text_field :cable_manufacturer %>
  </p>
  <p>
    <%= f.label :cable_manufacturing_date %><br />
    <%= f.date_select :cable_manufacturing_date %>
  </p>
  <p>
    <%= f.label :installer_company %><br />
    <%= f.text_field :installer_company %>
  </p>
  <p>
    <%= f.label :connectors_qty %><br />
    <%= f.text_field :connectors_qty %>
  </p>
  <p>
    <%= f.label :splices_qty %><br />
    <%= f.text_field :splices_qty %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', sites_additional_informations_path %>