<p>
  <b>Cable type:</b>
  <%=h @sites_additional_information.cable_type %>
</p>

<p>
  <b>Fiber type:</b>
  <%=h @sites_additional_information.fiber_type %>
</p>

<p>
  <b>Cable manufacturer:</b>
  <%=h @sites_additional_information.cable_manufacturer %>
</p>

<p>
  <b>Cable manufacturing date:</b>
  <%=h @sites_additional_information.cable_manufacturing_date %>
</p>

<p>
  <b>Installer company:</b>
  <%=h @sites_additional_information.installer_company %>
</p>

<p>
  <b>Connectors qty:</b>
  <%=h @sites_additional_information.connectors_qty %>
</p>

<p>
  <b>Splices qty:</b>
  <%=h @sites_additional_information.splices_qty %>
</p>


<%= link_to 'Edit', edit_sites_additional_information_path(@sites_additional_information) %> |
<%= link_to 'Back', sites_additional_informations_path %>