<%= render :partial => "layouts/reports_header" if params[:print] %>
	<% if params[:print] %>
		<h1 color="#5E5F5D">OTDR</h1><br/>
	<% end %>
	<fieldset class="test_otdrview">
		<legend class="name">
			OTDR
		</legend>
		<table class="test_otdrview">

		<tr>
		  <th>Project:</th>
		  <% if params[:print] %>
			 <td><%=h @test_otdr.fiber.cable.span.project.name %></td>
		  <% else %>
			 <td><a class="link"  href="#" onclick="showFiberProject(<%= @test_otdr.fiber.cable.span.project.id %>, '<%= @test_otdr.fiber.cable.span.project.name %>');  ">
			 <%=h @test_otdr.fiber.cable.span.project.name %></a></td>
		  <% end %>
		</tr>

		<tr>
		  <th>Customer:</th>
		  	 <% if params[:print] %>
					<td><%=h @test_otdr.fiber.cable.span.project.customer.name %></td>
			 <% else %>
    		   	<td><a class="link" href="#" onclick="showFiberCompany(<%= @test_otdr.fiber.cable.span.project.customer.id %>, '<%= @test_otdr.fiber.cable.span.project.customer.name %>');">
		  		<%=h @test_otdr.fiber.cable.span.project.customer.name %></a></td>
		   <% end %>
		</tr>
		<tr>
		  <th>Cable:</th>
	      <% if params[:print] %>
			 <td><%=h @test_otdr.fiber.cable.name %></td>
		  <% else %>
			 <td><a class="link"  href="#" onclick="showFiberCable(<%= @test_otdr.fiber.cable.id %>, '<%= @test_otdr.fiber.cable.name %>');  ">
			 <%=h @test_otdr.fiber.cable.name %></a></td>
		  <% end %>
		</tr>
		<tr>
		  <th>Site A:</th>
		  <% if params[:print] %>
		  	 <td><%=h @test_otdr.fiber.cable.span.site_a.name %></td>
		  <% else %>
			 <td><a class="link"  href="#" onclick="showFiberSite(<%= @test_otdr.fiber.cable.span.site_a.id %>, '<%= @test_otdr.fiber.cable.span.site_a.name %>');  ">
			 <%=h @test_otdr.fiber.cable.span.site_a.name %></a></td>
		  <% end %>
		</tr>
		<tr>
		  <th>Fiber #:</th>
		  <td><%=h @test_otdr.fiber.number_a %></td>
		</tr>
		<tr>
		  <th>Site B:</th>
		  <% if params[:print] %>
		     <td><%=h @test_otdr.fiber.cable.span.site_b.name %></td>
		  <% else %>
			 <td><a class="link"  href="#" onclick="showFiberSite(<%= @test_otdr.fiber.cable.span.site_b.id %>, '<%= @test_otdr.fiber.cable.span.site_b.name %>');  ">
			 <%=h @test_otdr.fiber.cable.span.site_b.name %></a></td>
		  <% end %>
		</tr>
		<tr>
		  <th>Fiber #:</th>
		  <td><%=h @test_otdr.fiber.number_b %></td>
		</tr>
		</table>
	</fieldset>
</br>
	<% unless params[:print] %>
		<div class="action">
			<%= link_to 'Edit', "#", :onclick => "addSubTab('tab_test_otdrs',
															'sub_tab_test_otdrs_edit_" + @test_otdr.id.to_s + "',
															'Editing "+@test_otdr.fiber.number_a.to_s+"' ,
															'/test_otdrs/edit/"+@test_otdr.id.to_s+"' ,
															'editIcon');" %> <span class="pipe">|</span>
			<%= link_to 'Print', "#", :onclick =>"printSubTab('/test_otdrs/show/"+@test_otdr.id.to_s+"?print=true','')";%>
				<span class="pipe">|</span>
			<%= link_to 'Close', "#", :onclick => "closeSubTab('tab_test_otdrs','sub_tab_test_otdrs_show_" + @test_otdr.id.to_s + "');" %>
		</div>
	<% end %>
	<%= render :partial => "layouts/reports_footer" if params[:print] %>

	<% if params[:print] %>
			<script type="text/javascript" >
				window.print();
			</script>
	<% end %>

<script type="text/javascript">
	function showFiberCompany(id, name){
		addTab('tab_companies', 'Companies', 'List', '<%= companies_path %>', 'tabCompanies');
		addSubTab('tab_companies', 'sub_tab_companies_show_'+id, 'Showing ' + name, '/companies/show/' + id, 'showIcon');
	}
	function showFiberProject(id, name){
		addTab('tab_projects', 'Projects', 'List', '<%= projects_path %>', 'tabProjects');
		addSubTab('tab_projects', 'sub_tab_projects_show_'+id, 'Showing ' + name, '/projects/show/' + id, 'showIcon');
	}
	function showFiberSite(id, name){
		addTab('tab_sites', 'Sites', 'List', '<%= sites_path %>', 'tabSites');
		addSubTab('tab_sites', 'sub_tab_sites_show_'+id, 'Showing ' + name, '/sites/show/' + id, 'showIcon');
	}
	function showFiberCable(id, name){
		addTab('tab_cables', 'Cables', 'List', '<%= cables_path %>', 'tabCables');
		addSubTab('tab_cables', 'sub_tab_cables_show_'+id, 'Showing ' + name, '/cables/show/' + id, 'showIcon');
	}
</script>
