<%= render :partial => "layouts/reports_header" if params[:print] %>
	<% if params[:print] %>
		<h1 color="#5E5F5D">Subrack name</h1><br/>
	<% end %>

	<fieldset class="subrackview">
		<legend class="name">
			<%=h @subrack.name %>
		</legend>
	<div>
		<table class="subrackview2">

			<tr>
			  <th>Site:</th>
			  <% if params[:print] %>
			 	<td><%=h @subrack.site.name %></td>
			 <% else %>
			  	<td><a class="link" href="#" onclick="showSubrackSite(<%= @subrack.site.id %>, '<%= @subrack.site.name %>');">
			  		<%=h @subrack.site.name %> </a></td>
			  <% end %>
			</tr>

			<tr>
			  <th>Diagram:</th>
			  <% if params[:print] %>
			 	<td><%=h @subrack.diagram.name %></td>
			 <% else %>
			  	<td><a class="link" href="#" onclick="showSubrackDiagram(<%= @subrack.diagram.id if @subrack.diagram %>, '<%= @subrack.diagram.name if @subrack.diagram %>');">
			  		<%=h @subrack.diagram.name if @subrack.diagram %> </a></td>
			  <% end %>
			</tr>
		</table>
		<div id="table_container">
			<table class="subrackview">
				<tr>
				  <th>Floor:</th>
				  <td><%=h @subrack.floor %></td>
				</tr>


				<tr>
				  <th>Rack:</th>
				  <td><%=h @subrack.rack %></td>
				</tr>

				<tr>
				  <th>Room:</th>
				  <td><%=h @subrack.room %></td>
				</tr>

				<tr>
				  <th>Released Fibers:</th>
				  <td><%=h @subrack.released_fibers %></td>
				</tr>
				<tr>
				  <th>Broken Fibers:</th>
				  <td><%=h @subrack.broken_fibers %></td>
				</tr>
			</table></br>
			<table class="subrackview3">
				<tr>
				 	<th>Line:</th>
					<td><%=h @subrack.line %></td>
				</tr>
				<tr>
				  <th>Group:</th>
				  <td><%=h @subrack.grupo %></td>
				</tr>
				<tr>
				  <th>Connector:</th>
				  <td><%=h @subrack.connector %></td>
				</tr>
				<tr>
				   <th>Total Fibers:</th>
				  <td><%=h @subrack.total_fibers %></td>
				</tr>

		   </table>
		 </div>
	</div> </br>
	&nbsp;&nbsp;
	</fieldset>


</br>
	<% unless params[:print] %>
			<div class="action">
				<%= link_to 'Edit', "#", :onclick => "addSubTab('tab_subracks',
																'sub_tab_subracks_edit_" + @subrack.id.to_s + "',
																'Editing "+ @subrack.name + "',
																'/subracks/edit/"+@subrack.id.to_s+"' ,
																'editIcon');" %> <span class="pipe">|</span>
				<%= link_to 'Print', "#", :onclick =>"printSubTab('/subracks/show/"+@subrack.id.to_s+"?print=true','')";%> <span class="pipe">|</span>
				<%= link_to 'Close', "#", :onclick => "closeSubTab('tab_subracks','sub_tab_subracks_show_" + @subrack.id.to_s + "');" %>
			</div>
	<% end %>
	<%= render :partial => "layouts/reports_footer" if params[:print] %>

	<% if params[:print] %>
			<script type="text/javascript" >
				window.print();
			</script>
	<% end %>


<script type="text/javascript">
	function showSubrackSite(id, name){
		addTab('tab_sites', 'Sites', 'List', '<%= sites_path %>', 'tabSites');
		addSubTab('tab_sites', 'sub_tab_sites_show_'+id, 'Showing ' + name, '/sites/show/' + id, 'showIcon');
	}
	function showSubrackDiagram(id, name){
		addTab('tab_diagrams', 'Diagrams', 'List', '<%= diagrams_path %>', 'tabDiagrams');
		addSubTab('tab_diagrams', 'sub_tab_diagrams_show_'+id, 'Showing ' + name, '/diagrams/show/' + id, 'showIcon');
	}
</script>