<h1>Editing cable</h1>

<% form_for(@cable) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :span_id %><br />
    <%= f.text_field :span_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cable %> |
<%= link_to 'Back', cables_path %>