<script type="text/javascript">

	var store_combo_SiteA = createStore('/sites/store/grid',
											   ['id', 'name'],
											   [{name: 'id',  mapping: 'id'},
											    {name: 'name',  mapping: 'name'}
											   ]);

	var store_combo_SiteB = createStore('/sites/store/grid',
											   ['id', 'name'],
											   [{name: 'id',  mapping: 'id'},
											    {name: 'name',  mapping: 'name'}
											   ]);

	var store_combo_Companies = createStore('/companies/store/grid',
											   ['id', 'name'],
											   [{name: 'id',  mapping: 'id'},
											    {name: 'name',  mapping: 'name'}
											   ]);

	var store_Projects = createStore('/projects/store/grid',
											   ['id', 'name'],
											   [{name: 'id',  mapping: 'id'},
											    {name: 'name',  mapping: 'name'}
											   ]);

    store_combo_Companies.on('load', function(){ comboCompanies.setValue('<%= @span.company_id %>'); });
    store_Projects.on('load', function(){ comboProjects.setValue('<%= @span.project_id %>'); });
    store_combo_SiteA.on('load', function(){ comboSiteA.setValue('<%= @span.site_a_id %>'); });
    store_combo_SiteB.on('load', function(){ comboSiteB.setValue('<%= @span.site_b_id %>'); });
    store_combo_Companies.load();
    store_Projects.load();
    store_combo_SiteA.load();
    store_combo_SiteB.load();

	var comboProjects = new Ext.form.ComboBox({
		fieldLabel: 'Project',
		valueField: 'id',
		displayField: 'name',
		name: 'span[project_id]',
		hiddenName: 'span[project_id]',
		editable: true,
		emptyText: 'select an owner...',
		store: store_Projects,
		mode: 'remote',
		selectOnFocus: true,
		forceSelection: true,
		triggerAction: 'all',
		minChars: 3,
		allowBlank: false,
		width: 220
	});

	var comboCompanies =
		new Ext.form.ComboBox({
			fieldLabel: 'Owner',
			valueField: 'id',
			displayField: 'name',
			name: 'span[company_id]',
			hiddenName: 'span[company_id]',
			editable: true,
			minChars: 3,
			emptyText: 'Select a Company...',
			store: store_combo_Companies,
			mode: 'remote',
			selectOnFocus: true,
			forceSelection: true,
			triggerAction: 'all',
			allowBlank: false,
			value: '<%= @span.company_id %>'
		});

	var comboSiteA =
		new Ext.form.ComboBox({
			fieldLabel: 'Site A',
			valueField: 'id',
			displayField: 'name',
			name: 'span[site_a_id]',
			hiddenName: 'span[site_a_id]',
			editable: true,
			minChars: 3,
			emptyText: 'Select a Site...',
			store: store_combo_SiteA,
			mode: 'remote',
			selectOnFocus: true,
			forceSelection: true,
			triggerAction: 'all',
			allowBlank: false,
			value: '<%= @span.site_a_id %>'
		});

	var comboSiteB =
		new Ext.form.ComboBox({
			fieldLabel: 'Site B',
			valueField: 'id',
			displayField: 'name',
			name: 'span[site_b_id]',
			hiddenName: 'span[site_b_id]',
			editable: true,
			minChars: 3,
			emptyText: 'Select a Site...',
			store: store_combo_SiteB,
			mode: 'remote',
			selectOnFocus: true,
			forceSelection: true,
			triggerAction: 'all',
			allowBlank: false,
			value: '<%= @span.site_b_id %>'
		});

    var form_editSpans_<%= @span.id %> =
        new Ext.FormPanel({
            labelWidth: 75,
            frame:true,
            title: 'Editing Span',
            bodyStyle:'padding:5px 5px 0',
            style: "margin: 0px auto 0px auto;",
            width: 500,
            monitorValid: true,
            items:[{xtype:"fieldset",
                    title:"Span",
                    autoHeight:true,
                    width: 476,
                    defaults: {width: 355},
                    items:[comboProjects, comboSiteA, comboSiteB, comboCompanies,
				          {xtype:'textfield', fieldLabel: 'Distance', name: 'span[distance]', allowBlank:false, value: '<%= @span.distance %>'},
				          {xtype:'textfield', fieldLabel: 'Fiber Type', name: 'span[fiber_type_id]', allowBlank:true, value: '<%= @span.fiber_type_id %>'}
		                  ]
                  }],
            buttons: [{text: 'Save',
                       handler:function() {
                        if (form_editSpans_<%= @span.id %>.getForm().isValid()) {
                              form_editSpans_<%= @span.id %>.getForm().submit({
                                url:'/spans/update/<%= @span.id %>',
                                waitMsg:'Saving Data...',
                                success: function(){
                                      Ext.Msg.alert('Span updated','The span has been successfully updated');
                                      updateSubTab('tab_spans','sub_tab_spans','Spans','<%= spans_path %>');
                                      closeSubTab('tab_spans','sub_tab_spans_show_<%= @span.id %>');
                                      closeSubTab('tab_spans','sub_tab_spans_edit_<%= @span.id %>');
                                },
                                failure: function(){Ext.Msg.alert('Error','There has been a problem while creating this request! Contact the system administrator.')}
                              });
                        }
                      }
                },
                {
                    text: 'Cancel',
                    handler:function(){closeSubTab('tab_spans','sub_tab_spans_edit_<%= @span.id %>');}
                  }
              ]
    });

    form_editSpans_<%= @span.id %>.render( 'area_form_editSpans_<%= @span.id %>');

</script>
<br />
<div id="area_form_editSpans_<%= @span.id %>" style="float:left;"></div>
