<script type="text/javascript">

	var statusCombo =
		new Ext.form.ComboBox ({
		    fieldLabel: 'Status',
		    store: [['1', 'Valid'],['2', 'Invalid'],['3', 'Locked']],
		    typeAhead: true,
		    mode: 'local',
		    forceSelection: true,
		    triggerAction: 'all',
		    selectOnFocus: true,
		    hiddenName: 'user[status]',
		    allowBlank: false,
			editable: false,
			emptyText: 'Set status...',
			width: 355,
			value: '<%= @user.status %>'
		});

	var store_combo_Companies = createStore('/companies/store/grid',
											   ['id', 'name'],
											   [{name: 'id',  mapping: 'id'},
											    {name: 'name',  mapping: 'name'}
											   ]);

    store_combo_Companies.on('load', function(){ comboCompanies.setValue('<%= @user.company_id %>'); });
    store_combo_Companies.load();

	var comboCompanies =
		new Ext.form.ComboBox({
			fieldLabel: 'Company',
			valueField: 'id',
			displayField: 'name',
			name: 'user[company_id]',
			hiddenName: 'user[company_id]',
			editable: false,
			emptyText: 'Select a Company...',
			store: store_combo_Companies,
			mode: 'remote',
			selectOnFocus: true,
			forceSelection: true,
			triggerAction: 'all',
			minChars: 3,
			allowBlank: false,
			hiddenValue: <%= @user.company_id %>,
		});

     var txtPassword_<%= @user.id %> =
        new Ext.form.TextField({
            fieldLabel: 'Password',
            name: 'user[password]',
            inputType: 'password',
            allowBlank: false
        });

    var txtPasswordConfirmation_<%= @user.id %> =
        new Ext.form.TextField({
            fieldLabel: 'Password Confirmation',
            name: 'user[password_confirmation]',
            inputType: 'password',
            initialPasswordField: 'new_user_password',
            allowBlacompany_namenk: false
        });

    var form_editUsers_<%= @user.id %> =
        new Ext.FormPanel({
            labelWidth: 105,
            frame:true,
            title: 'Editing User: <%= @user.name %>',
            bodyStyle:'padding:5px 5px 0',
            style: "margin: 0px auto 0px auto;",
            width: 500,
            defaultType: 'textfield',
            monitorValid: true,
            items:[{xtype:"fieldset",
                    title:"Company",
                    autoHeight:true,
                    width: 476,
                    defaults: {width: 325},
                    items:[	{xtype: 'textfield', id: 'edit_user_name_<%= @user.id %>', fieldLabel: 'Name', name: 'user[name]', allowBlank:false, value: '<%= @user.name %>'},
		                   	{xtype: 'textfield', fieldLabel: 'Login', name: 'user[login]', allowBlank:false, value: '<%= @user.login %>'},
				           	comboCompanies,
							{xtype:'textfield', fieldLabel: 'Description', name: 'user[company_description]', allowBlank:true, value: '<%= @user.company_description %>'},
						  	{xtype:'textfield', fieldLabel: 'Contact phone', name: 'user[contact_phone]', allowBlank:true, value: '<%= @user.contact_phone %>'},
						  	{xtype:'textfield', fieldLabel: 'Comments', name: 'user[comments]', allowBlank:true, value: '<%= @user.comments %>'},
		                   	{xtype: 'textfield', fieldLabel: 'E-mail', name: 'user[email]', allowBlank:false, value: '<%= @user.email %>'},
				           	statusCombo,
		                   	{xtype: 'datefield', fieldLabel: 'Expiration', name: 'user[expiration]', allowBlank:false, value: '<%= @user.expiration %>'}
                          ]},
		                   {xtype:"fieldset",
		                    width: 476,
		                    title:" Change password",
		                    autoHeight:true,
		                    checkboxToggle:true,
		                    checkboxName: 'change_password',
		                    collapsed: true,
		                    labelWidth: 135,
		                    listeners:
		                       {expand: function()
		                           {txtPassword_<%= @user.id %>.allowBlank = false;
		                            txtPasswordConfirmation_<%= @user.id %>.allowBlank = false;},
		                        collapse: function()
		                           {txtPassword_<%= @user.id %>.allowBlank = true;
		                            txtPasswordConfirmation_<%= @user.id %>.allowBlank = true;}
		                       },
                    		items:[txtPassword_<%= @user.id %>,
                           	txtPasswordConfirmation_<%= @user.id %>,
                          	new Ext.form.Hidden({xtype: 'textfield', type: 'hidden', name: 'user[id]', value: <%= @user.id %>
							})
                          ]
                   }
            ],
            buttons:
            [
                {
                      text: 'Update',
                    handler:function() {
                        if (form_editUsers_<%= @user.id %>.getForm().isValid()) {
                              form_editUsers_<%= @user.id %>.getForm().submit({
                                url:'/users/update/<%= @user.id %>',
                                waitMsg:'Saving Data...',
                                success: function(){
                                      Ext.Msg.alert('User updated','The user has been successfully updated');
                                      updateSubTab('tab_users','sub_tab_users','Users','<%= users_path %>');
                                      closeSubTab('tab_users','sub_tab_users_show_<%= @user.id %>');
                                      closeSubTab('tab_users','sub_tab_users_edit_<%= @user.id %>');
                                },
                                failure: function(){Ext.Msg.alert('Error','There has been a problem while creating this request! Contact the system administrator.')}
                              });
                        }
                      }
                },
                {
                    text: 'Cancel',
                    handler:function(){closeSubTab('tab_users','sub_tab_users_edit_<%= @user.id %>');}
                  }
              ]
    });

    form_editUsers_<%= @user.id %>.render( 'area_form_editUsers_<%= @user.id %>');


</script>
<br />
<div id="area_form_editUsers_<%= @user.id %>" style="float:left;"></div>