<%= render :partial => "layouts/reports_header" if params[:print] %>
	<% if params[:print] %>
	<h1 color="#5E5F5D">User</h1><br/>
	<% end %>

	<fieldset class="user">
		<legend class="name">
			 <%=h @user.name %>
		</legend>
		<table class="user" >
			<tr>
			  <th>Login:</th>
			  <td> <%=h @user.login %>
			</tr>

			<tr>
			  <th>Company:</th>
				<% if params[:print] %>
					<td><%=h @user.company.name %></td>
				<% else %>
					<td><a class="link" href="#" onclick="showCompany(<%= @user.company_id %>, '<%= @user.company.name %>'); return false;"><%=h @user.company.name %></td></a>
				<% end %>

			</tr>

			<tr>
			  <th>Company Description:</th>
			  <td> <%=h @user.company_description %></td>
			</tr>
			<tr>
			  <th>Contact Phone:</th>
			  <td> <%=h @user.contact_phone %></td>
			</tr>
			<tr>
			  <th>Comments:</th>
			  <td> <%=h @user.comments %></td>
			</tr>
			<tr>
			  <th>E-mail:</th>
			  <td> <%=h @user.email %></td>
			</tr>

			<tr>
			  <th>Status:</th>
			  <td><%=h @user.status_name%></td>
			</tr>

			<tr>
			  <th>Expiration:</th>
			  <td> <%=h @user.expiration %></td>
			</tr>
		</table>
	</fieldset>
</br>

	<% unless params[:print] %>

		<div class="action">
			<%= link_to 'Edit', "#", :onclick => "addSubTab('tab_users',
															'sub_tab_users_edit_" + @user.id.to_s + "',
															'Editing "+@user.name.to_s+"' ,
															'/users/edit/"+@user.id.to_s+"' ,
															'editIcon');" %> <span class="pipe">|</span>
			<%= link_to 'Print', "#", :onclick =>"printSubTab('/users/show/"+@user.id.to_s+"?print=true','')";%>
			<span class="pipe">|</span>
			<%= link_to 'Close', "#", :onclick => "closeSubTab('tab_users','sub_tab_users_show_" + @user.id.to_s + "');" %>
		</div>
	<% end %>
	<%= render :partial => "layouts/reports_footer" if params[:print] %>

	<% if params[:print] %>
		<script type="text/javascript" >
			window.print();
		</script>
	<% end %>

	<script type="text/javascript">
			function showCompany(id, name){
				addTab('tab_companies', 'Companies', 'List', '<%= companies_path %>', 'tabCompanies');
				addSubTab('tab_companies', 'sub_tab_companies_show_'+id, 'Showing ' + name, '/companies/show/' + id, 'showIcon');
			}
	</script>








