<p>
  <b>Fiber:</b>
  <%=h @test_chromatic_disp.fiber_id %>
</p>

<p>
  <b>Dsp lambda z:</b>
  <%=h @test_chromatic_disp.dsp_lambda_z %>
</p>

<p>
  <b>Dsp 1310:</b>
  <%=h @test_chromatic_disp.dsp_1310 %>
</p>

<p>
  <b>Dsp 1525:</b>
  <%=h @test_chromatic_disp.dsp_1525 %>
</p>

<p>
  <b>Dsp 1530:</b>
  <%=h @test_chromatic_disp.dsp_1530 %>
</p>

<p>
  <b>Dsp 1540:</b>
  <%=h @test_chromatic_disp.dsp_1540 %>
</p>

<p>
  <b>Dsp 1550:</b>
  <%=h @test_chromatic_disp.dsp_1550 %>
</p>

<p>
  <b>Dsp 1560:</b>
  <%=h @test_chromatic_disp.dsp_1560 %>
</p>

<p>
  <b>Dsp 1570:</b>
  <%=h @test_chromatic_disp.dsp_1570 %>
</p>

<p>
  <b>Dsp 1575:</b>
  <%=h @test_chromatic_disp.dsp_1575 %>
</p>

<p>
  <b>Dsp 1625:</b>
  <%=h @test_chromatic_disp.dsp_1625 %>
</p>

<p>
  <b>Dsp total:</b>
  <%=h @test_chromatic_disp.dsp_total %>
</p>

<p>
  <b>Dsp slopezero:</b>
  <%=h @test_chromatic_disp.dsp_slopezero %>
</p>

<p>
  <b>Dsp slopeother:</b>
  <%=h @test_chromatic_disp.dsp_slopeother %>
</p>

<p>
  <b>Dsp coef a:</b>
  <%=h @test_chromatic_disp.dsp_coef_a %>
</p>

<p>
  <b>Dsp coef b:</b>
  <%=h @test_chromatic_disp.dsp_coef_b %>
</p>

<p>
  <b>Dsp coef c:</b>
  <%=h @test_chromatic_disp.dsp_coef_c %>
</p>

<p>
  <b>Test timestamp:</b>
  <%=h @test_chromatic_disp.test_timestamp %>
</p>


<%= link_to 'Edit', edit_test_chromatic_disp_path(@test_chromatic_disp) %> |
<%= link_to 'Back', test_chromatic_disps_path %>