<script type="text/javascript">

function previewDiagram(){
			 if (form_editDiagrams_<%= @diagram.id %>.getForm().isValid()) {
			 var qty = Ext.getCmp('diagram_qty_<%= @diagram.id %>').getValue();
			 var rows = Ext.getCmp('diagram_rows_<%= @diagram.id %>').getValue();
			 var cols = Ext.getCmp('diagram_cols_<%= @diagram.id %>').getValue();

				if(qty > 20 || rows > 20 || cols > 20){
					Ext.Msg.alert('Warning', 'The limit value for configuration is 20');
					}else{
					 new Ajax.Updater({success:'preview_diagram',failure:'error'}, '/diagrams/preview?qty='+qty+'&rows='+rows+'&cols='+cols, {asynchronous:true, evalScripts:true});
				    }
				    return false;
			    }
}

    var form_editDiagrams_<%= @diagram.id %> = new Ext.FormPanel
            ({labelWidth: 170,
              frame:true,
              title: 'Create a new Diagram using the form below',
              bodyStyle:'padding:5px 5px 0',
              style: "margin: 0px auto 0px auto;",
              width: 610,
              defaultType: 'textfield',
              monitorValid: true,
              items:[{xtype:"fieldset",
                      title:"Diagram",
                      autoHeight:true,
	  		          defaultType: 'textfield',
                      width: 590,
                      defaults: {width: 370},
                      items:[
                             {id: 'diagram_name_<%= @diagram.id %>', maskRe: /[0-9]/, fieldLabel: 'Name', name: 'diagram[name]', allowBlank:false, value: '<%= @diagram.name %>'},
						 	 {id: 'diagram_qty_<%= @diagram.id %>', maskRe: /[0-9]/, fieldLabel: 'Quantity of Subracks', name: 'diagram[subracks_qty]', allowBlank:false, value: '<%= @diagram.subracks_qty %>'},
						 	 {id: 'diagram_rows_<%= @diagram.id %>', maskRe: /[0-9]/, fieldLabel: 'Quantity of Rows on each', name: 'diagram[subracks_rows]', allowBlank:false, value: '<%= @diagram.subracks_rows %>'},
						 	 {id: 'diagram_cols_<%= @diagram.id %>', maskRe: /[0-9]/, fieldLabel: 'Quantity of Columns on each', name: 'diagram[subracks_cols]', allowBlank:false, value: '<%= @diagram.subracks_cols %>'}
						 	]
                    }],
              buttons:[{text: 'Update',
                        handler:function()
                        {if (form_editDiagrams_<%= @diagram.id %>.getForm().isValid())
                            {form_editDiagrams_<%= @diagram.id %>.getForm().submit
                              ({url:'/diagrams/update/<%= @diagram.id %>',
                                waitMsg:'Saving Data...',
                                success: function()
                                   {
                                   	  Ext.Msg.alert('Diagram updated','The diagram has been successfully updated');
                                      updateSubTab('tab_diagrams','sub_tab_diagrams','Diagrams','<%= diagrams_path %>');
                                      closeSubTab('tab_diagrams','sub_tab_diagrams_show_<%= @diagram.id %>');
                                      closeSubTab('tab_diagrams','sub_tab_diagrams_edit_<%= @diagram.id %>');
                                   },
                                failure: function()
                                   {Ext.Msg.alert('Error','There has been a problem while creating this request! Contact the system administrator.')}
                              });
                            }
                        }
                       },
		     		  {
    				  	text: 'Preview',
    				 handler:function(){previewDiagram();}
    				  },
                      {text: 'Cancel',
                        handler:function(){closeSubTab('tab_diagrams','sub_tab_diagrams_edit_<%= @diagram.id %>');}
                      }]
            });

    form_editDiagrams_<%= @diagram.id %>.render( 'area_form_editDiagrams_<%= @diagram.id %>');




</script>


<br />
<div id="area_form_editDiagrams_<%= @diagram.id %>" style="float:left;"></div>
<br /><br />
<div id="preview_diagram" style="margin-top: 220px;"></div>