<h1>New test_orl</h1>

<% form_for(@test_orl) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fiber_id %><br />
    <%= f.text_field :fiber_id %>
  </p>
  <p>
    <%= f.label :orl_ab %><br />
    <%= f.text_field :orl_ab %>
  </p>
  <p>
    <%= f.label :orl_ba %><br />
    <%= f.text_field :orl_ba %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', test_orls_path %>