<p>
  <b>Fiber:</b>
  <%=h @test_orl.fiber_id %>
</p>

<p>
  <b>Orl ab:</b>
  <%=h @test_orl.orl_ab %>
</p>

<p>
  <b>Orl ba:</b>
  <%=h @test_orl.orl_ba %>
</p>


<%= link_to 'Edit', edit_test_orl_path(@test_orl) %> |
<%= link_to 'Back', test_orls_path %>