<h1>Editing log_book</h1>

<% form_for(@log_book) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :log_date %><br />
    <%= f.date_select :log_date %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <p>
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @log_book %> |
<%= link_to 'Back', log_books_path %>