<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml">
		<head>
			<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
			<link href="favicon.png" type="image/x-icon" rel="icon" />
			<link href="favicon.png" type="image/x-icon" rel="shortcut icon" />
			<title>Optibuilder</title>
			<%= stylesheet_link_tag "optibuilder", :media => "all" %>
			<!--[if IE]>
				<%= stylesheet_link_tag "optibuilder_ie" %>
			<![endif]-->
		</head>

	<body onLoad="document.getElementById('login').focus()">
		<div style="text-align: center">
		<img src="/images/optibuilder_logo.png" alt="Optidata - Optical Network Database System" />
		<% if flash[:notice] -%>
			<div id="optidata_login_message" style="width: 270px; margin: auto;">
				<div class="<%=flash[:notice]=="Logged out"?"optidata_success_box":"optidata_error_box"%>">
					<%= flash[:notice] %>
				</div>
			</div>
		<% end -%>
		<br /><br />
		<div id="optibuilder_login_box" style="width: 270px; margin: auto;">
			<div id="optibuilder_login_tab">
				<img src="/images/tab_login.gif" alt="Login" width="108" height="21" />
			</div>
			<div class="optibuilder_line"></div>
			<div id="optibuilder_login_form">
				*** Please, enter your login information:<br /><br />
				<%= form_tag(:action => "authenticate") %>
					<label for="login">Username:</label><br />
					<%= text_field_tag :login, params[:login], :size => 25 %>
					<br />
					<br />
					<label for="password">Password:</label><br />
					<%= password_field_tag :password, params[:password], :size => 25 %>
					<br />
					<br />
					<%= submit_tag "Login", :class => 'login_button' %>
			</div>
			<div class="optibuilder_line"></div>
		</div>
		<br /><span>version 1.0.0</span><br />
		<br />
		<a href="http://www.fiberwork.net" target="_blank"><img src="/images/fiberwork_logo.gif" alt="FiberWork Optical Communications" width="127" height="32" border="0" /></a>
		</div>

	</body>
</html>
