
<script type="text/javascript">




    var form_editTestPmds_<%= @test_pmd.id %> = new Ext.FormPanel
	    ({labelWidth: 121,
	      frame:true,
	      title: 'Edit a Test PMD using the form below',
	      bodyStyle:'padding:5px 5px 0',
	      style: "margin: 0px auto 0px auto;",
	      width: 400,
	      height:400,
	      defaultType: 'textfield',
	      monitorValid: true,
	      items: [{xtype:"fieldset",
                   title:"Test PMD",
                   autoHeight: true,
                   width: 380,
                   defaults: {width:200},
                   items:[{xtype:'textfield',  fieldLabel: 'Optical Length', name: 'test_pmd[optical_length]', allowBlank:false,  value: '<%= @test_pmd.optical_length %>'},
		                 ]
                 },
	      			{xtype:"fieldset", title:"PMD READING SET 1 ", autoHeight:true, width: 380,
                    items:[{layout: 'column',
                            items:[ {labelWidth: 20, columnWidth:0.32, layout:'form'
                                   ,items:[{xtype:"textfield",fieldLabel: 'A', name: 'test_pmd[pmd_set1_a]', width: 70, allowBlank:false, value: '<%= @test_pmd.pmd_set1_a %>'}]
                                   },
                                   {labelWidth:20, columnWidth:0.32, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'B',name: 'test_pmd[pmd_set1_b]', width: 70, allowBlank:false,value: '<%= @test_pmd.pmd_set1_b %>'}]
                                   },
                                    {labelWidth: 20, columnWidth:0.32, layout:'form'
                                   ,items:[{xtype:"textfield",fieldLabel: 'C', name: 'test_pmd[pmd_set1_c]', width: 70, allowBlank:false,value: '<%= @test_pmd.pmd_set1_c %>'}]
                                   }]
                          }]
                   },{xtype:"fieldset", title:"PMD READING SET 2 ", autoHeight:true, width: 380,
                    items:[{layout: 'column',
                            items:[ {labelWidth: 20, columnWidth:0.32, layout:'form'
                                   ,items:[{xtype:"textfield",fieldLabel: 'A', name: 'test_pmd[pmd_set2_a]', width: 70, allowBlank:false,value: '<%= @test_pmd.pmd_set2_a %>'}]
                                   },
                                   {labelWidth: 20, columnWidth:0.32, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'B',name: 'test_pmd[pmd_set2_b]', width: 70, allowBlank:false,value: '<%= @test_pmd.pmd_set2_b %>'}]
                                   },
                                    {labelWidth: 20, columnWidth:0.32, layout:'form'
                                   ,items:[{xtype:"textfield",fieldLabel: 'C', name: 'test_pmd[pmd_set2_c]', width: 70, allowBlank:false,value: '<%= @test_pmd.pmd_set2_c %>'}]
                                   }]
                          }]
                   },
                   {xtype:"fieldset", title:"PMD READING SET 3 ", autoHeight:true, width: 380,
                    items:[{layout: 'column',
                            items:[ {labelWidth: 20, columnWidth:0.32, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'A',name: 'test_pmd[pmd_set3_a]', width: 70, allowBlank:false,value: '<%= @test_pmd.pmd_set3_a %>'}]
                                   },
                                   {labelWidth: 20, columnWidth:0.32, layout:'form'
                                   ,items:[{xtype:"textfield",fieldLabel: 'B', name: 'test_pmd[pmd_set3_b]', width: 70, allowBlank:false,value: '<%= @test_pmd.pmd_set3_b %>'}]
                                   },
                                    {labelWidth: 20, columnWidth:0.32, layout:'form'
                                   ,items:[{xtype:"textfield",fieldLabel: 'C', name: 'test_pmd[pmd_set3_c]', width: 70, allowBlank:false,value: '<%= @test_pmd.pmd_set3_c %>'}]
                                   }]
                          }]
                   }
               ],
	      buttons:[{text: 'Update',
                      handler:function()
                      {if (form_editTestPmds_<%= @test_pmd.id %>.getForm().isValid())
                          {form_editTestPmds_<%= @test_pmd.id %>.getForm().submit
                            ({url:'/test_pmds/update/<%= @test_pmd.id %>',
                              waitMsg:'Saving Data...',
                              success: function(){
                                 Ext.Msg.alert('Cable updated','The cable has been successfully updated');
								  updateTestTab('test_pmd_list_<%= @fiber.id %>');
								   closeTestTab('tab_test_pmds_edit_<%= @test_pmd.id %>');


                              },
                              	failure: function()
                                 {Ext.Msg.alert('Error','There has been a problem while creating this request! Contact the system administrator.')}
                            });
                         }
                      }
                     },
                     {text: 'Cancel',
                      handler:function(){closeTestTab('tab_test_pmds_edit_<%= @test_pmd.id %>');}
                    }]
             });

    form_editTestPmds_<%= @test_pmd.id %>.render( 'area_form_editTestPmds_<%= @test_pmd.id %>');

</script>
<br />
<div id="area_form_editTestPmds_<%= @test_pmd.id %>" style="float:left;">
</div>