<h1>New test_pmd</h1>

<% form_for(@test_pmd) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fiber_id %><br />
    <%= f.text_field :fiber_id %>
  </p>
  <p>
    <%= f.label :pmd_set1_a %><br />
    <%= f.text_field :pmd_set1_a %>
  </p>
  <p>
    <%= f.label :pmd_set1_b %><br />
    <%= f.text_field :pmd_set1_b %>
  </p>
  <p>
    <%= f.label :pmd_set1_c %><br />
    <%= f.text_field :pmd_set1_c %>
  </p>
  <p>
    <%= f.label :pmd_set2_a %><br />
    <%= f.text_field :pmd_set2_a %>
  </p>
  <p>
    <%= f.label :pmd_set2_b %><br />
    <%= f.text_field :pmd_set2_b %>
  </p>
  <p>
    <%= f.label :pmd_set3_c %><br />
    <%= f.text_field :pmd_set3_c %>
  </p>
  <p>
    <%= f.label :pmd_set3_a %><br />
    <%= f.text_field :pmd_set3_a %>
  </p>
  <p>
    <%= f.label :pmd_set2_b %><br />
    <%= f.text_field :pmd_set2_b %>
  </p>
  <p>
    <%= f.label :pmd_set3_c %><br />
    <%= f.text_field :pmd_set3_c %>
  </p>
  <p>
    <%= f.label :pmd_mean %><br />
    <%= f.text_field :pmd_mean %>
  </p>
  <p>
    <%= f.label :pmd_max %><br />
    <%= f.text_field :pmd_max %>
  </p>
  <p>
    <%= f.label :pmd_std %><br />
    <%= f.text_field :pmd_std %>
  </p>
  <p>
    <%= f.label :pmd_span %><br />
    <%= f.text_field :pmd_span %>
  </p>
  <p>
    <%= f.label :pmd_coef %><br />
    <%= f.text_field :pmd_coef %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', test_pmds_path %>