<p>
  <b>Fiber:</b>
  <%=h @test_pmd.fiber_id %>
</p>

<p>
  <b>Pmd set1 a:</b>
  <%=h @test_pmd.pmd_set1_a %>
</p>

<p>
  <b>Pmd set1 b:</b>
  <%=h @test_pmd.pmd_set1_b %>
</p>

<p>
  <b>Pmd set1 c:</b>
  <%=h @test_pmd.pmd_set1_c %>
</p>

<p>
  <b>Pmd set2 a:</b>
  <%=h @test_pmd.pmd_set2_a %>
</p>

<p>
  <b>Pmd set2 b:</b>
  <%=h @test_pmd.pmd_set2_b %>
</p>

<p>
  <b>Pmd set3 c:</b>
  <%=h @test_pmd.pmd_set3_c %>
</p>

<p>
  <b>Pmd set3 a:</b>
  <%=h @test_pmd.pmd_set3_a %>
</p>

<p>
  <b>Pmd set2 b:</b>
  <%=h @test_pmd.pmd_set2_b %>
</p>

<p>
  <b>Pmd set3 c:</b>
  <%=h @test_pmd.pmd_set3_c %>
</p>

<p>
  <b>Pmd mean:</b>
  <%=h @test_pmd.pmd_mean %>
</p>

<p>
  <b>Pmd max:</b>
  <%=h @test_pmd.pmd_max %>
</p>

<p>
  <b>Pmd std:</b>
  <%=h @test_pmd.pmd_std %>
</p>

<p>
  <b>Pmd span:</b>
  <%=h @test_pmd.pmd_span %>
</p>

<p>
  <b>Pmd coef:</b>
  <%=h @test_pmd.pmd_coef %>
</p>


<%= link_to 'Edit', edit_test_pmd_path(@test_pmd) %> |
<%= link_to 'Back', test_pmds_path %>