
<div class="ExtPage2 ShowPage">
<fieldset class="pmd">
		<legend>
				Show Test PMD's
		</legend>
		<table class="pmd" >
			<tr>
				<th class="pmd" >Created at:</th>
				<td><%=h @test_pmd.created_at %></td>
			</tr>
		</table>
		<table class="pmd1">
			<th colspan="3" class="pmd1">
				PMD Set1
			</th>
			<tr class="pmd1">
				<td class="pmd1">
					<%=h @test_pmd.pmd_set1_a %>
				</td>
				<td class="pmd1">
					<%=h @test_pmd.pmd_set1_b %>
				</td>
				<td class="pmd1">
					<%=h @test_pmd.pmd_set1_c %>
				</td>
				</tr>
		</table>
			<table class="pmd1">
			<th colspan="3" class="pmd1">
				PMD Set2
			</th>
			<tr class="pmd1">
				<td class="pmd1">
					<%=h @test_pmd.pmd_set2_a %>
				</td>
				<td class="pmd1">
					<%=h @test_pmd.pmd_set2_b %>
				</td>
				<td class="pmd1">
					<%=h @test_pmd.pmd_set2_c %>
				</td>
				</tr>
		</table>
			<table class="pmd1">
			<th colspan="3" class="pmd1">
				PMD Set3
			</th>
			<tr class="pmd1">
				<td class="pmd1">
					<%=h @test_pmd.pmd_set3_a %>
				</td>
				<td class="pmd1">
					<%=h @test_pmd.pmd_set3_b %>
				</td>
				<td class="pmd1">
					<%=h @test_pmd.pmd_set3_b %>
				</td>
				</tr>
		</table>
</fieldset><br/>
<fieldset class="pmd">
		<legend>
			Results
		</legend>
		<table class="pmd1">
			<th class="pmd1">
				Fiber:
			</th>
			<th class="pmd1">
				PMD Max
			</th>
			<th class="pmd1">
				PMD Std
			</th>
			<tr class="pmd1">
				<td class="pmd1">
					<%=h @test_pmd.fiber.number_a %>-<%=h @test_pmd.fiber.number_b %>
				</td>
				<td class="pmd1">
					<%=h @test_pmd.max %>
				</td>
				<td class="pmd1">
					<%=h @test_pmd.std %>
				</td>
			</tr>
		</table><br/>
		<table class="pmd1">
			<th class="pmd1">
				PMD Span
			</th>
			<th class="pmd1">
				PMD Coef
			</th>
			<th class="pmd1">
				PMD Mean
			</th>
			<tr class="pmd1">
				<td class="pmd1">
					<%=h @test_pmd.span %>
				</td>
				<td class="pmd1">
					<%=h @test_pmd.coef %>
				</td>
				<td class="pmd1">
					<%=h @test_pmd.mean %>
				</td>
			</tr>
		</table>
</fieldset>
<br>

<%= link_to 'Back', "#", :onclick => "closeTestTab('tab_test_pmds_show_details_" + @test_pmd.id.to_s + "');" %>
</div>

