<p>
  <b>Connectors:</b>
  <%=h @jumper.connectors %>
</p>

<p>
  <b>Lenght:</b>
  <%=h @jumper.lenght %>
</p>

<p>
  <b>Description:</b>
  <%=h @jumper.description %>
</p>

<p>
  <b>Fiber:</b>
  <%=h @jumper.fiber_id %>
</p>


<%= link_to 'Edit', edit_jumper_path(@jumper) %> |
<%= link_to 'Back', jumpers_path %>