<script type="text/javascript">

    var store_combo_SiteOwners = createStore('/companies/store/grid',
                                               ['id', 'name'],
                                               [{name: 'id',  mapping: 'id'},
                                                {name: 'name',  mapping: 'name'}]
                                            );
    store_combo_SiteOwners.on('load', function(){
    	comboSiteOwners.setValue('<%= @site.network_owner_id %>');
		this.purgeListeners();
	});
    store_combo_SiteOwners.load();

    var comboSiteOwners = new Ext.form.ComboBox({
            fieldLabel: 'Site Owner',
            valueField: 'id',
            displayField: 'name',
            name: 'site[name]',
            hiddenName: 'site[network_owner_id]',
            editable: true,
            emptyText: 'select an Owner...',
            store: store_combo_SiteOwners,
            mode: 'remote',
            selectOnFocus: true,
            forceSelection: true,
            triggerAction: 'all',
            minChars: 3,
            allowBlank: false,
            width: 267
        });

    var form_editSites_<%= @site.id %> =
        new Ext.FormPanel(
           {labelWidth: 120,
            frame:true,
            title: 'Edit the Site using the form below',
            bodyStyle:'padding:5px 5px 0',
            style: "margin: 0px auto 0px auto;",
            width: 700,
            monitorValid: true,
            items:[{xtype:"fieldset", title:"Site", autoHeight:true, width: 680,
                    items:[{layout: 'column',
                            items:[{labelWidth: 40, columnWidth:0.75, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'Name', name: 'site[name]', allowBlank:false, width: 420
                                   ,value: '<%= @site.name %>'}]
                                   },
                                   {labelWidth: 60, columnWidth:0.25, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'Acronym', name: 'site[acronym]', allowBlank:false, width: 80
                                   ,value: '<%= @site.acronym %>'}]
                                  }]
                           },
                           {layout: 'column',
                            items:[{labelWidth: 75, columnWidth:0.45, layout:'form'
                                   ,items:[{xtype:"datefield", fieldLabel: 'Service Date', name: 'site[install_date]', allowBlank:false, width: 190
                                   ,value: '<%= @site.install_date %>'}]
                                   },
                                   {labelWidth: 70, columnWidth:0.55, layout:'form'
                                   ,items:[comboSiteOwners]
                                  }]
                           },
                           {layout: 'column',
                            items:[{labelWidth: 90, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'General Notes', name: 'site[notes]', allowBlank:true, width: 543
                                   ,value: '<%= @site.notes %>'}]
                                  }]
                          }]
                   },
                   {xtype:"fieldset", title:" Address", autoHeight:true, width: 680,
                    items:[{layout: 'column',
                            items:[{labelWidth: 50, columnWidth:0.4, layout:'form'
                                   ,items:[{xtype:"textfield", id: 'new_site_country_<%= @site.id %>', fieldLabel: 'Country', name: 'address[country]', width: 180
                                   , value: '<%= @address ? @address.country : '' %>'}]
                                    },
                                   {labelWidth: 30, columnWidth:0.16, layout:'form'
                                   ,items:[{xtype:'textfield', id: 'new_site_state_<%= @site.id %>', fieldLabel:"State", name:"address[state]", width:50
                                   , value: '<%= @address ? @address.state : '' %>'}]
                                    },
                                   {labelWidth: 30, columnWidth:0.44, layout:'form'
                                   ,items:[{xtype:"textfield", id: 'new_site_city_<%= @site.id %>', fieldLabel: 'City', name: 'address[city]', width: 230
                                   , value: '<%= @address ? @address.city : '' %>'}]
                                  }]
                           },
                           {layout: 'column',
                            items:[{labelWidth: 98, layout:'form'
                                   ,items:[{xtype:"textfield", fieldLabel: 'Street / Number', name: 'address[street]', width: 530
                                   , value: '<%= @address ? @address.street : '' %>'}]
                                  }]
                          },
                          {layout: 'column',
                            items:[{labelWidth: 50, columnWidth:0.4, layout:'form'
                                   ,items:[{xtype:"textfield", id: 'new_site_location_<%= @site.id %>', fieldLabel: 'location', name: 'address[location]', width: 180
                                   , value: '<%= @address ? @address.location : '' %>'}]
                                    },
                                   {labelWidth: 55, columnWidth:0.25, layout:'form'
                                   ,items:[{xtype:'textfield', id: 'new_site_zipcode_<%= @site.id %>', fieldLabel:"Zip Code", name:"address[zip_code]", width:80
                                   , value: '<%= @address ? @address.zip_code : '' %>'}]
                                    },
                                   {labelWidth: 75, columnWidth:0.35, layout:'form'
                                   ,items:[{xtype:"textfield", id: 'new_site_complement_<%= @site.id %>', fieldLabel: 'Complement', name: 'address[complement]', width: 126
                                   , value: '<%= @address ? @address.complement : '' %>'}]
                                  }]
                           }]
                  }],
            buttons:[{text: 'Update',
                      handler:function()
                      {if (form_editSites_<%= @site.id %>.getForm().isValid())
                          {form_editSites_<%= @site.id %>.getForm().submit
                            ({url:'/sites/update/<%= @site.id %>',
                              waitMsg:'Saving Data...',
                              success: function(){
                                    Ext.Msg.alert('User updated','The Site has been successfully updated');
                                    updateSubTab('tab_sites','sub_tab_sites','Sites','<%= sites_path %>');
                                     closeSubTab('tab_sites','sub_tab_sites_show_<%= @site.id %>');
                                    closeSubTab('tab_sites','sub_tab_sites_edit_<%= @site.id %>');
                                                 },
                              failure: function()
                                 {Ext.Msg.alert('Error','There has been a problem while creating this request! Contact the system administrator.')}
                            });
                          }
                      }
                     },
                     {text: 'Cancel',
                      handler:function(){closeSubTab('tab_sites','sub_tab_sites_edit_<%= @site.id %>');}
                    }]
    });

    form_editSites_<%= @site.id %>.render('area_form_editSites_<%= @site.id %>');

</script>
<br />
<div id="area_form_editSites_<%= @site.id %>" style="float:left;">
</div>