
<b>Project:</b> <%= @span.project.name %>
<b> Site A:</b> <%= @span.site_a.name %> | <b>Site B:</b> <%= @span.site_b.name %>
<% if @cable %>
	<b>cable:</b> <%= @cable.name %>
<% end %>

<br />





<script type="text/javascript">

    var fibers_form = new Ext.FormPanel(
		{
			labelWidth: 121,
	      	frame:true,
		      title: 'Create a new user using the form below',
		      bodyStyle:'padding:5px 5px 0',
		      style: "margin: 0px auto 0px auto;",
		      width: 500,
		      defaults: {width: 365},
		      defaultType: 'textfield',
		      monitorValid: true,
		      items: [{xtype:"fieldset",
                   title:"User",
                   autoHeight: true,
                   width: 476,
                   defaults: {width: 325},
                   items:[{xtype:'textfield',  fieldLabel: 'Name', name: 'user[name]', allowBlank:false},
				          {xtype:'textfield', fieldLabel: 'Login', name: 'user[login]', allowBlank:false},
				          comboCompanies,
						  {xtype:'textfield', fieldLabel: ' Company Description', name: 'user[company_description]', allowBlank:true},
						  {xtype:'textfield', fieldLabel: 'Contact phone', name: 'user[contact_phone]', allowBlank:true},
						  {xtype:'textfield', fieldLabel: 'Comments', name: 'user[comments]', allowBlank:true},
				          {xtype:'textfield', fieldLabel: 'E-mail', name: 'user[email]', allowBlank:false },
				          {xtype:'textfield', fieldLabel: 'Password', name: 'user[password]', inputType: 'password', id: 'new_user_password', allowBlank:false},
				          {xtype:'textfield', fieldLabel: 'Confirm Password', name: 'user[password_confirmation]', inputType: 'password', initialPasswordField: 'new_user_password', allowBlank: false},
				          statusCombo,
		                  {xtype:'datefield', fieldLabel: 'Expiration', name: 'user[expiration]', allowBlank:false}
		                 ]
                 }],
	      	buttons: [{text: 'Create User',
	                 handler:function()
	                   {if (form_newUsers.getForm().isValid())
	                       {form_newUsers.getForm().submit
	                         ({url:'<%= url_for (:controller => 'users', :action => 'create') %>',
	                           waitMsg:'Saving Data...',
	                           success: function(){
	                              Ext.Msg.alert('User added','The user has been successfully created');
	                              updateSubTab('tab_users','sub_tab_users','Users','<%= users_path %>');
	                              closeSubTab('tab_users','sub_tab_users_new');},
	                           failure: function(form, action)
	                              {if (action.failureType == 'server')
	                                  {msg = String(Ext.util.JSON.decode(action.response.responseText));
	                                   Ext.Msg.alert('Validation Error', msg);}
	                               else
	                                  {Ext.Msg.alert('Error', 'There has been a problem while creating this request. Contact the system administrator.');}
	                              }
	                         });
	                       }
	                   }
	                },
	                {text: 'Cancel',
	                 handler:function(){closeSubTab('tab_users','sub_tab_users_new');}
	               }]
	    });
    form_newUsers.render( 'area_form_newUsers');
</script>
<br/>
<div id="area_form_newUsers" style="float:left;"></div>













<div id="result"></div>

<% form_remote_tag :url => '/fibers/create_table', :update => "result" do -%>

<!--
Quantity of Fibers: <input type="text" id="fibers_qty" val name="qty" value="1" size="5" style="text-align: center" />
<input type="button" onclick="setFibersTable();" value="Set!" />-->

	<input type="hidden" name="span_id"   id="span_id"   value="<%= @span.id %>" />
	<input type="hidden" name="site_a_id" id="site_a_id" value="<%= @span.site_a.id %>" />
	<input type="hidden" name="site_b_id" id="site_b_id" value="<%= @span.site_b.id %>" />

	<fieldset><legend>Add fiber</legend>
		<table>
			<th bgcolor="silver" colspan="10" style="text-align: center;"><b><%= @span.site_a.name %><b></th>
			<th colspan="1" style="text-align: center;"></th>
			<th bgcolor=silver colspan="8" style="text-align: center;"><b><%= @span.site_b.name %><b></th>
			<tr>
				<th>Cable</th>
				<th>-</th>
				<th>Floor</th>
				<th>Room</th>
				<th>Line</th>
				<th>Rack</th>
				<th>Sub</th>
				<th>Group</th>
				<th>Connector</th>
				<th>Fiber A</th>
				<th>-</th>
				<th>Fiber B</th>
				<th>Floor</th>
				<th>Room</th>
				<th>Line</th>
				<th>Rack</th>
				<th>Sub</th>
				<th>Group</th>
				<th>Connector</th>
			</tr>
			
			<tr>
				<td><input name="fiber[][cable_name]" id="cable1" type="text" size="4" value="<%= @cable.name if @cable %>" /></td>
				<td>-</td>
				<td><input name="fiber[][floorA]" id="floorA1" type="text" size="4" /></td>
				<td><input name="fiber[][roomA]" id="roomA1" type="text" size="4" /></td>
				<td><input name="fiber[][lineA]" id="lineA1" type="text" size="4" /></td>
				<td><input name="fiber[][rackA]" id="rackA1" type="text" size="4" /></td>
				<td><input name="fiber[][subA]" id="subA1" type="text" size="4" /></td>
				<td><input name="fiber[][groupA]" id="groupA1" type="text" size="4" /></td>
				<td><input name="fiber[][connectA]" id="connectA1" type="text" size="4" /></td>
				<td><input name="fiber[][number_a]" id="fiberA1" type="text" size="4" /></td>
				<td>-</td>
				<td><input name="fiber[][number_b]" id="fiberB1" type="text" size="4" /></td>
				<td><input name="fiber[][floorB]" id="floorB1" type="text" size="4" /></td>
				<td><input name="fiber[][roomB]" id="roomB1" type="text" size="4" /></td>
				<td><input name="fiber[][lineB]" id="lineB1" type="text" size="4" /></td>
				<td><input name="fiber[][rackB]" id="rackB1" type="text" size="4" /></td>
				<td><input name="fiber[][subB]" id="subB1" type="text" size="4" /></td>
				<td><input name="fiber[][groupB]" id="groupB1" type="text" size="4" /></td>
				<td><input name="fiber[][connectB]" id="connectB1" type="text" size="4" /></td>
			</tr>
			
		</table>
		<%= submit_tag 'Save' %>
	</fieldset>
<% end%>

<script type="text/javascript">
	function setFibersTable(){
		var cable = document.getElementById('cable1').value;
		var floorA =     document.getElementById('floorA1').value;
		var roomA =      document.getElementById('roomA1').value;
		var lineA =      document.getElementById('lineA1').value;
		var rackA =      document.getElementById('rackA1').value;
		var subA =       document.getElementById('subA1').value;
		var groupA =     document.getElementById('groupA1').value;
		var connectA =   document.getElementById('connectA1').value;
		var fiberA =     document.getElementById('fiberA1').value;
		var fiberB =     document.getElementById('fiberB1').value;
		var floorB =     document.getElementById('floorB1').value;
		var roomB =      document.getElementById('roomB1').value;
		var lineB =      document.getElementById('lineB1').value;
		var rackB =      document.getElementById('rackB1').value;
		var subB =       document.getElementById('subB1').value;
		var groupB =     document.getElementById('groupB1').value;
		var connectB =   document.getElementById('connectB1').value;
		var qty =        document.getElementById('fibers_qty').value;
		var span_id =    document.getElementById('span_id').value;
		var site_a_id =  document.getElementById('site_a_id').value;
		var site_b_id =  document.getElementById('site_b_id').value;
		if(qty > 64 || qty < 1 ){
			Ext.Msg.alert('Warning', 'The limit value for configuration is 64');
		}else{
		    if (notFilled()){
		    	Ext.Msg.alert('Warning', 'Only the field "Group" is optional.');
    		}else{
			    new Ajax.Updater(
					{success:'fibers_table',failure:'error'},
					'/fibers/set_fibers_table?qty='+qty+
					'&cable='+cable+
					'&floorA='+floorA+
					'&roomA='+roomA+
					'&lineA='+lineA+
					'&rackA='+rackA+
					'&subA='+subA+
					'&groupA='+groupA+
					'&connectA='+connectA+
					'&fiberA='+fiberA+
					'&fiberB='+fiberB+
					'&floorB='+floorB+
					'&roomB='+roomB+
					'&lineB='+lineB+
					'&rackB='+rackB+
					'&subB='+subB+
					'&groupB='+groupB+
					'&connectB='+connectB+
					'&span_id='+span_id+
					'&site_a_id='+site_a_id+
					'&site_b_id='+site_b_id,
					{asynchronous:true, evalScripts:true}
				);
	        }
	    }
	    return false;
	}

    function notFilled(){
    	if (  document.getElementById('cable1').value == ''
		   || document.getElementById('floorA1').value == ''
		   || document.getElementById('roomA1').value == ''
		   || document.getElementById('lineA1').value == ''
		   || document.getElementById('rackA1').value == ''
		   || document.getElementById('subA1').value == ''
		   || document.getElementById('connectA1').value == ''
		   || document.getElementById('fiberA1').value == ''
		   || document.getElementById('fiberB1').value == ''
		   || document.getElementById('floorB1').value == ''
		   || document.getElementById('roomB1').value == ''
		   || document.getElementById('lineB1').value == ''
		   || document.getElementById('rackB1').value == ''
		   || document.getElementById('subB1').value == ''
		   || document.getElementById('connectB1').value == ''
		   || document.getElementById('fibers_qty').value == ''){
		   return true;
		}else{
		   return false; }
	}
</script>