
<b>Project:</b> <%= @span.project.name %>
<b> Site A:</b> <%= @span.site_a.name %> | <b>Site B:</b> <%= @span.site_b.name %>
<% if @cable %>
	<b>cable:</b> <%= @cable.name %>
<% end %>

<br />


<div id="result"></div>

<% form_remote_tag :url => '/fibers/create_table', :update => "result" do -%>
Quantity of Fibers: <input type="text" id="fibers_qty" val name="qty" value="1" size="5" style="text-align: center" />
<input type="button" onclick="setFibersTable();" value="Set!" />

	<input type="hidden" name="span_id"   id="span_id"   value="<%= @span.id %>" />
	<input type="hidden" name="site_a_id" id="site_a_id" value="<%= @span.site_a.id %>" />
	<input type="hidden" name="site_b_id" id="site_b_id" value="<%= @span.site_b.id %>" />
	<table>
		<th bgcolor="silver" colspan="10" style="text-align: center;"><b><%= @span.site_a.name %><b></th>
		<th colspan="1" style="text-align: center;"></th>
		<th bgcolor=silver colspan="8" style="text-align: center;"><b><%= @span.site_b.name %><b></th>
		<tr>
			<th>Cable</th>
			<td>-</td>
			<th>Floor</th>
			<th>Room</th>
			<th>Line</th>
			<th>Rack</th>
			<th>Sub</th>
			<th>Group</th>
			<th>Connector</th>
			<th>Fiber A</th>
			<td> </td>
			<th>Fiber B</th>
			<th>Floor</th>
			<th>Room</th>
			<th>Line</th>
			<th>Rack</th>
			<th>Sub</th>
			<th>Group</th>
			<th>Connector</th>
		</tr>
		<tr>
			<td><input name="fiber[][cable_name]" id="cable1" type="text" size="4" value="<%= @cable.name if @cable %>" /></td>
			<td>-</td>
			<td><input name="fiber[][floorA]" id="floorA1" type="text" size="4" /></td>
			<td><input name="fiber[][roomA]" id="roomA1" type="text" size="4" /></td>
			<td><input name="fiber[][lineA]" id="lineA1" type="text" size="4" /></td>
			<td><input name="fiber[][rackA]" id="rackA1" type="text" size="4" /></td>
			<td><input name="fiber[][subA]" id="subA1" type="text" size="4" /></td>
			<td><input name="fiber[][grupoA]" id="grupoA1" type="text" size="4" /></td>
			<td><input name="fiber[][connectA]" id="connectA1" type="text" size="4" /></td>
			<td><input name="fiber[][number_a]" id="fiberA1" type="text" size="4" /></td>
			<td>-</td>
			<td><input name="fiber[][number_b]" id="fiberB1" type="text" size="4" /></td>
			<td><input name="fiber[][floorB]" id="floorB1" type="text" size="4" /></td>
			<td><input name="fiber[][roomB]" id="roomB1" type="text" size="4" /></td>
			<td><input name="fiber[][lineB]" id="lineB1" type="text" size="4" /></td>
			<td><input name="fiber[][rackB]" id="rackB1" type="text" size="4" /></td>
			<td><input name="fiber[][subB]" id="subB1" type="text" size="4" /></td>
			<td><input name="fiber[][grupoB]" id="grupoB1" type="text" size="4" /></td>
			<td><input name="fiber[][connectB]" id="connectB1" type="text" size="4" /></td>
		</tr>
	</table>

	<div id="fibers_table"></div>

	<%= submit_tag 'Save' %>
<% end%>

<script type="text/javascript">
	function setFibersTable(){
		var cable = document.getElementById('cable1').value;
		var floorA =     document.getElementById('floorA1').value;
		var roomA =      document.getElementById('roomA1').value;
		var lineA =      document.getElementById('lineA1').value;
		var rackA =      document.getElementById('rackA1').value;
		var subA =       document.getElementById('subA1').value;
		var grupoA =     document.getElementById('grupoA1').value;
		var connectA =   document.getElementById('connectA1').value;
		var fiberA =     document.getElementById('fiberA1').value;
		var fiberB =     document.getElementById('fiberB1').value;
		var floorB =     document.getElementById('floorB1').value;
		var roomB =      document.getElementById('roomB1').value;
		var lineB =      document.getElementById('lineB1').value;
		var rackB =      document.getElementById('rackB1').value;
		var subB =       document.getElementById('subB1').value;
		var grupoB =     document.getElementById('grupoB1').value;
		var connectB =   document.getElementById('connectB1').value;
		var qty =        document.getElementById('fibers_qty').value;
		var span_id =    document.getElementById('span_id').value;
		var site_a_id =  document.getElementById('site_a_id').value;
		var site_b_id =  document.getElementById('site_b_id').value;
		if(qty > 64 || qty < 1 ){
			Ext.Msg.alert('Warning', 'The limit value for configuration is 64');
		}else{
		    if (notFilled()){
		    	Ext.Msg.alert('Warning', 'Only the field "Group" is optional.');
    		}else{
			    new Ajax.Updater(
					{success:'fibers_table',failure:'error'},
					'/fibers/set_fibers_table?qty='+qty+
					'&cable='+cable+
					'&floorA='+floorA+
					'&roomA='+roomA+
					'&lineA='+lineA+
					'&rackA='+rackA+
					'&subA='+subA+
					'&grupoA='+grupoA+
					'&connectA='+connectA+
					'&fiberA='+fiberA+
					'&fiberB='+fiberB+
					'&floorB='+floorB+
					'&roomB='+roomB+
					'&lineB='+lineB+
					'&rackB='+rackB+
					'&subB='+subB+
					'&grupoB='+grupoB+
					'&connectB='+connectB+
					'&span_id='+span_id+
					'&site_a_id='+site_a_id+
					'&site_b_id='+site_b_id,
					{asynchronous:true, evalScripts:true}
				);
	        }
	    }
	    return false;
	}

    function notFilled(){
    	if (  document.getElementById('cable1').value == ''
		   || document.getElementById('floorA1').value == ''
		   || document.getElementById('roomA1').value == ''
		   || document.getElementById('lineA1').value == ''
		   || document.getElementById('rackA1').value == ''
		   || document.getElementById('subA1').value == ''
		   || document.getElementById('connectA1').value == ''
		   || document.getElementById('fiberA1').value == ''
		   || document.getElementById('fiberB1').value == ''
		   || document.getElementById('floorB1').value == ''
		   || document.getElementById('roomB1').value == ''
		   || document.getElementById('lineB1').value == ''
		   || document.getElementById('rackB1').value == ''
		   || document.getElementById('subB1').value == ''
		   || document.getElementById('connectB1').value == ''
		   || document.getElementById('fibers_qty').value == ''){
		   return true;
		}else{
		   return false; }
	}
</script>